# Introduction to Data Science with Python

<p>About : Module ini akan memperkenalkan bahasa pemrograman Python sebagai salah satu bahasa pemrograman yang digunakan secara luas dalam ranah data science.</p>
<p>Course : <a href=https://academy.dqlab.id/main/package/practice/162?pf=0>Introduction to Data Science with Python</a> </p>

<h2>Module Content:</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="#dasar-dasar-python">Dasar-dasar Python</a></li>
        <ul>
            <li><a href="#apa-itu-python">Apa itu Pyhton?</a></li>
            <li><a href="#list-library-python">List Library Python</a></li>
            <li><a href="#struktur-bahasa-python">Struktur Bahasa Pyhton</a></li>
            <li><a href="#practice-1">Practice!</a></li>
        </ul>
        <li><a href="#lanjutan-dasar-dasar-python">Lanjutan Dasar-dasar Python</a></li>
        <ul>
            <li><a href="#tipe-data-python">Tipe Data Python</a></li>
            <li><a href="#practice-2">Practice!</a></li>
        </ul>
    </ul>
</div>

<h2><a name="dasar-dasar-python"></a>Chapter 1: Dasar-dasar Python</h2>

<h3><a name="apa-itu-python"></a>Apa itu Python?</h3>

<p>Python adalah bahasa pemrograman yang ditujukan untuk <i><b>general-purpose programming</b></i> dan termasuk dalam kategori <i><b>high-level programming language</b></i>.</p>
<p>Diciptakan  oleh  <b>Guido  van Rossum</b> dan pertama kali diperkenalkan pada tahun 1991 sebagai sebuah proyek open-source.</p>

<h3><a name="list-library-python"></a>List Library Python</h3>

<ol>
    <li><b>Numpy</b> for numerical processing</li>
    <li><b>Scipy</b> for scientific computation</li>
    <li><b>Pandas</b> for preprocessing</li>
    <li><b>Matplotlib</b> for visualization</li>
    <li><b>Scikit-Learn</b> for modeling</li>
    <li><b>Seaborn</b> for visualization</li>
</ol>

<h3><a name="struktur-bahasa-python"></a>Struktur Bahasa Python</h3>

<table align="left">
    <thead>
        <th width=15%>Struktur</th>
        <th style="text-align:left">Keterangan</th>
    </thead>
    <tbody>
        <tr>
            <td>Statements</td>
            <td style="text-align:left">
                Instruksi yang diberikan secara baris per baris untuk dijalankan oleh program</td>
        </tr>
        <tr>
            <td>Variables</td>
            <td style="text-align:left">
                Pengidentifikasian yang digunakan untuk menampung sebuah data atau informasi</td>
        </tr>
        <tr>
            <td>Literals</td>
            <td style="text-align:left">
                Data atau informasi yang digunakan untuk mengisi suatu variable</td>
        </tr>
        <tr>
            <td>Operators</td>
            <td style="text-align:left">
                Simbol-simbol yang digunakan untuk mengubah nilai dari satu variable dan melibatkan satu atau lebih variable dan literal</td>
        </tr>
        <tr>
            <td>Reserved Words</td>
            <td style="text-align:left">
                Kumpulan kata-kata yang memiliki makna khusus dan tidak dapat digunakan untuk variable atau literal</td>
        </tr>
        <tr>
            <td>Whitespace</td>
            <td style="text-align:left">
                Spasi dan tab yang menandai serangkaian blok kode</td>
        </tr>
        <tr>
            <td>Comments</td>
            <td style="text-align:left">
                Sekumpulan teks yang tidak akan dijalankan oleh program biasanya digunakan sebagai keterangan</td>
        </tr>
    </tbody>
</table>

<h3><a name="practice-1"></a>Practice!</h3>

In [3]:
print('Hello World!')
print('Saya Maya, Baru belajar Python.')

Hello World!
Saya Maya, Baru belajar Python.

kata <code>'Hello World!'</code> dan <code>'Saya Maya, Baru belajar Python.'</code> disebut dengan <b>statement</b>.

In [4]:
bil1 = 10
Bil_2 = 20
Frasa = "Hello World"
bil1, Bil_2 = 10, 20
salam = "Selamat Pagi"; Penutup = "Salam Sejahtera"

<strong>Note!</strong> variable tidak dapat didahului dengan angka.

In [5]:
#perintah pada baris ini tidak mempengaruhi program
'''
perintah ini tidak akan dieksekusi oleh Python
dan perintah ini juga tidak akan dieksekusi
perintah ini juga tidak akan dieksekusi
'''
print("jadi # digunakan untuk membuat comment pada Python")

jadi # digunakan untuk membuat comment pada Python

<h2><a name="lanjutan-dasar-dasar-python"></a>Chapter 2: Lanjutan Dasar-dasar Python</h2>

<h3><a name="tipe-data-python"></a>Tipe Data Python</h3>

<table align="left">
    <thead>
        <th colspan="2">Tipe Data</th>
        <th>Keterangan dan Contoh</th>
        <th>Konversi</th>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">NoneType</td>
            <td><p>Hanya memiliki satu nilai <i>none</i></p></td>
            <td><p>-</p></td>
        </tr>
        <tr>
            <td rowspan="2">Numerik</td>
            <td><code>int</code></td>
            <td>
                <p>Seluruh bilangan bulat</p>
                <p>Contoh: -20, -4, 0, 5, 80</p></td>
            <td>
                <p>Gunakan fungsi <b>int()</b></p>
                <p>int(5.3) -> 5</p>
                <p>int("6") -> 6</p></td>
        </tr>
        <tr>
            <td><code>float</code></td>
            <td>
                <p>Seluruh bilangan riil, yaitu bilangan yang dapat ditulis dalam bentuk desimal</p>
                <p>Contoh: 3.14, -9.424, 0.001</td>
            <td>
                <p>Gunakan fungsi <b>float()</b></p>
                <p>float(3) -> 3.0</p>
                <p>float("9.32") -> 9.32</p></td>
        </tr>
        <tr>
            <td>Boolean</td>
            <td><code>bool</code></td>
            <td>
                <p>Hanya memiliki dua nilai <i>True</i> dan <i>False</i></p></td>
            <td>
                <p>Gunakan fungsi <b>bool()</b></p>
                <p>bool(1) -> True</p>
                <p>bool(0) -> False</p></td>
        </tr>
        <tr>
            <td rowspan="3">Sequence</td>
            <td><code>str</code></td>
            <td>
                <p>Huruf, kata, frasa, kalimat atau paragraf ang diapit oleh ' atau "</p>
                <p>Contoh: "a", 'b', "Saya Maya", "Saya suka makan bakso"</p></td>
            <td>
                <p>Gunakan fungsi <b>str()</b></p>
                <p>str(5.3) -> "5.3"</p>
                <p>int([1,'buku']) -> "[1,'buku']"</p></td>
        </tr>
        <tr>
            <td><code>list</code></td>
            <td>
                <p>Urutan elemen yang diapit oleh kurung siku dan masing-masing elemen dipisahkan dengan koma</p>
                <p>Contoh: [3.14, None, True, "saya"]</td>
            <td>
                <p>Gunakan fungsi <b>list()</b></p>
                <p>list("buku") -> ['b','u','k','u']</p>
                <p>list((1,2,3,3)) -> [1,2,3,3]</p>
                <p>list({4,5,6}) -> [4,5,6]</td>
        </tr>
        <tr>
            <td><code>tuple</code></td>
            <td>
                <p>Urutan elemen yang diapit oleh kurung biasa dan masing-masing elemen dipisahkan dengan koma</p>
                <p>Contoh: (3.14, None, True, "saya")</td>
            <td>
                <p>Gunakan fungsi <b>tuple()</b></p>
                <p>tuple("buku") -> ('b','u','k','u')</p>
                <p>tuple([1,2,3,3]) -> (1,2,3,3)</p>
                <p>tuple({4,5,6}) -> (4,5,6)</td>
        </tr>
        <tr>
            <td>Set</td>
            <td><code>set</code></td>
            <td>
                <p>Urutan elemen yang diapit oleh kurung kurawal dan masing-masing elemen dipisahkan dengan koma. Setiap elemen bernilai unik</p>
                <p>Contoh: {3.14, None, True, "saya"}</td>
            <td>
                <p>Gunakan fungsi <b>set()</b></p>
                <p>set("buku") -> {'b','u','k'}</p>
                <p>set([1,2,3,3]) -> {1,2,3}</p>
                <p>set((4,5,6)) -> {4,5,6}</td>
        </tr>
    </tbody>
</table>

<h3><a name="practice-2"></a>Practice!</h3>

In [21]:
text = "Belajar Python DQlab"

print("Teks asli:", text)
print("Jumlah karakter:", len(text))

Teks asli: Belajar Python DQlab
Jumlah karakter: 20

In [26]:
print("Konversi ke list:", list(text))
print("Jumlah karakter:", len(list(text)))

Konversi ke list: ['B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'D', 'Q', 'l', 'a', 'b']
Jumlah karakter: 20

In [24]:
print("Konversi ke tuple:", tuple(text))
print("Jumlah karakter:", len(tuple(text)))

Konversi ke tuple: ('B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'D', 'Q', 'l', 'a', 'b')
Jumlah karakter: 20

In [25]:
print("Konversi ke set:", set(text))
print("Jumlah karakter:", len(set(text)))

Konversi ke set: {'r', 'B', 'o', 'b', 'a', 'y', 'e', ' ', 'h', 'P', 't', 'n', 'D', 'Q', 'j', 'l'}
Jumlah karakter: 16