# Python for Data Professional Beginner - Part 1

<p>About : Module ini akan memperkenalkan konsep dasar bahasa pemograman Python, memberikan penjelasan mengenai syntax, dan fungsi built-in yang penting untuk dikuasai untuk melakukan pengolahan data, terutama untuk memulai karir sebagai praktisi data, baik Data Analyst (DA), Data Scientist (DS), ataupun Data Engineer (DE).</p>

<p>Course : <a href=https://academy.dqlab.id/main/package/practice/157?pf=0>Python for Data Professional Beginner - Part 1</a></p>

<h2>Module Content:</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="#mari-mengenal-python">Mari Mengenal Python</a></li>
        <ul>
            <li><a href="#apa-dan-mengapa-python">Apa dan mengapa Pyhton?</a></li>
            <li><a href="#struktur-python">Struktur Python</a></li>
        </ul>
        <li><a href="#python-variables-dan-data-types">Python Variables dan Data Types</a></li>
        <ul>
            <li><a href="#aturan-penamaan-python-variable">Aturan Penamaan Python Variable</a></li>
            <li><a href="#tipe-data-pada-python">Tipe Data pada Python</a></li>
        </ul>
        <li><a href="#python-operators"></a>Python Operators</li>
        <ul>
            <li><a href="#arithmetic-operators">Arithmetic Operators</a></li>
            <li><a href="#assignment-operators">Assignment Operators</a></li>
            <li><a href="#comparison-operators">Comparison Operators</a></li>
            <li><a href="#logical-operators">Logical Operators</a></li>
            <li><a href="#identity-operators">Identity Operators</a></li>
            <li><a href="#membership-operators">Membership Operators</a></li>
            <li><a href="#nilai-prioritas-operator">Nilai Prioritas Operator</a></li>
        </ul>
        <li><a href="#python-conditioning-dan-looping">Python Conditioning dan Looping</a></li>
        <ul>
            <li><a href="#conditioning-for-decision">Conditioning for Decision</a></li>
            <li><a href="#primitive-loop-control">Primitive Loop Control</a></li>
        </ul>
        <li><a href="#mini-quiz">Mini Quiz</a></li>
    </ul>
</div>

<h2><a name="mari-mengenal-python"></a>Chapter 1: Mari Mengenal Python</h2>

<h3><a name="apa-dan-mengapa-python"></a>Apa dan mengapa Pyhton?</h3>

<p>Python adalah bahasa pemrograman yang ditujukan untuk <b><i>general-purpose programming</i></b> dan termasuk dalam kategori <b><i>high-level programming language</i></b>.</p>

<p>Bahasa pemrograman Python bersifat <b><i>dynamically typed</i></b> (Python akan secara otomatis mengubah masukan dari pengguna) dan mendukung berbagai paradigma pemrograman baik pemrograman secara <b><i>prosedural</i></b>, berbasis objek (<b><i>Object-Oriented</i></b>), atau pun <b><i>fungsional</i></b>.

<h3><a name="struktur-python"></a>Struktur Python</h3>

<b>1. Statements:</b> Instruksi yang diberikan secara baris per baris untuk dijalankan oleh mesin.

In [1]:
print("hello world!")

hello world!

<b>2. Variables:</b> Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

In [2]:
bil1 = 10
text = "saya belajar Python"

<b>3. Literals:</b> Simbol-simbol yang dapat kita gunakan untuk mengisi suatu variabel. Pada kode yang telah dicontohkan di atas, angka 10 serta 'saya belajar Python' disebut sebagai literal.

<b>4. Operators:</b> Simbol-simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.

In [3]:
10 + 20

30

<p>selain tanda + untuk penjumlahan ada banyak simbol lain yang bisa digunakan seperti perkalian (*), pembagian (/), pemangkatan (**) dan lainnya.</p>

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Practice!</b>
    <div style="padding:25px">
        <li>Hitung harga_setelah_potongan dan harga_final dengan mengalikan harga_setelah_potongan dengan angka 1.1 karena jumlah PPN sebesar 10% (100% + 10% = 110% atau 1.1)</li>
        <li>deklarasikan variabel harga_asli dengan nilai 20000 dan variabel potongan dengan nilai 2000.</li>
    </div>
</div>

In [4]:
# deklarasi variable
harga_asli = 20000
potongan = 2000

# proses perhitungan
harga_setelah_potongan = harga_asli - potongan
harga_final = harga_setelah_potongan * 1.1

# cetak hasil
print(harga_final)

19800.0

<b>5. Reserved Words:</b> Kumpulan kata-kata yang memiliki makna khusus dalam bahasa pemrograman Python. Kata <b>False</b>, <b>return</b>, dan <b>for</b> merupakan contoh dari reserved words.

<b style="color:red">Catatan!</b> reserve words <b>tidak dapat</b> digunakan untuk mendeklarasikan variabel.

<b>6. Whitespace:</b> Pada bahasa Python, spasi dan tab memiliki makna khusus untuk menandai serangkaian blok dalam kode Python. Hal ini akan dijelaskan secara lebih lanjut pada bagian struktur pemilihan dan struktur pengulangan pada bahasa Python.

<b>7. Comments:</b> Comments merupakan sekumpulan teks yang dituliskan di dalam sebuah program yang tidak akan mempengaruhi hasil dari sebuah program. Walaupun tidak mempengaruhi hasil program, comments merupakan salah satu komponen yang penting dalam pengembangan program. Hal tersebut dikarenakan comments dapat diselipkan di antara sekumpulan statements yang telah dituliskan, untuk berkomunikasi dengan rekan programmer lainnya dalam satu tim.

<p>Terdapat dua jenis comment, yaitu single line comment dan multiple line comment.</p>

In [5]:
# single line comment

In [6]:
'''
ini adalah contoh dari
multiple line comment
'''

'\nini adalah contoh dari\nmultiple line comment\n'

<h2><a name="python-variables-dan-data-types"></a>Chapter 2: Python Variables dan Data Types</h2>

<h3><a name="aturan-penamaan-python-variable"></a>Aturan Penamaan Python Variable</h3>

<p>Penamaan suatu variabel pada python dapat dikatakan valid selama memenuhi aturan-aturan berikut:</p>

<ol>
    <li>Nama dari sebuah variabel <b>harus</b> dimulai dengan huruf (a-z, A-Z) atau karakter garis bawah underscore (_) dan <b>tidak dapat</b> dimulai dengan angka (0-9).</li>
    <li>Variabel hanya boleh mengandung karakter alfabet dan bilangan dan underscore (a-z, A-Z, 0-9, _)</li>
    <li>Variabel bersifat <b>case-sensitive</b> yang mengartikan bahwa variabel TINGGI, tinggi, dan Tinggi merujuk pada tiga variabel berbeda.</li>
</ol>

<p>Kemudian, selain dapat mendeklarasikan nilai dari suatu variabel secara baris per baris, kita juga dapat mendeklarasikan beberapa variabel dalam satu baris dengan menggunakan ekspresi seperti:</p>

In [7]:
bil1, bil2 = 3, 4
salam = "halo"; nama = "maya"

<h3><a name="tipe-data-pada-python"></a>Tipe Data pada Python</h3>

<b>1. Null:</b> Tipe data null dalam Python digunakan untuk menyimpan nilai kosong atau tidak ada yang dinyatakan dengan <b>None</b>.

In [8]:
var = None
type(var)

NoneType

<b>2. Boolean:</b> Tipe data boolean atau <b>bool</b> digunakan untuk menyimpan nilai kebenaran (<b>True, False</b>) dari suatu ekspresi logika.

In [9]:
var = True
type(var)

bool

<b>3. Numeric:</b> Tipe data yang digunakan untuk menyimpan data berupa angka. Terdapat dua macam tipe data numeric, yaitu: 
<li><b>int</b> untuk menyimpan <b>bilangan bulat</b> (e.g.: 0, 1, 2, 404, -500, -1000)</li>
<li><b>float</b> untuk menyimpan <b>bilangan riil</b> (e.g.: 0.5, 1.01, 2.05, 4.04)</li>

In [10]:
var = 10
type(var)

int

In [11]:
var = 3.14
type(var)

float

<b>4. Text:</b> Pada Python, tipe data string (<b>str</b>) digunakan untuk menyimpan data teks. Tipe data string dimulai dengan tanda kutip (baik kutip satu/ dua) dan diakhir dengan tanda kutip.

In [12]:
var = 'hello'
type(var)

str

<b>5. Sequence:</b> Tipe data ini digunakan untuk menampung sekumpulan data secara terorganisir. Terdapat 2 macam tipe data sequence, yaitu:
<li><b>list</b>, bersifat <i>mutable</i> yang berarti setiap elemen di dalam list dapat dirubah nilainya setelah proses pendeklarasian list. </li>
<li><b>tuple</b>, bersifat <i>immutable</i> yang berarti elemen pada tipe data tuple <b>tidak dapat diubah</b> setelah proses pendeklarasiannya.</li>

In [13]:
var = [1, 'dua', 3.14, None]
type(var)

list

In [14]:
var = (1, 'dua', 3.14, None)
type(var)

tuple

<b>6. Set:</b> digunakan untuk menampung sekumpulan data dengan tipe lainnya. Terdapat dua jenis dari tipe data set yaitu:
<li><b>set</b>, tipe ini <b>tidak mengizinkan</b> adanya elemen dengan nilai yang sama dan tidak memperdulikan urutan dari elemen</li>
<li><b>frozenset</b>, merupakan set yang bersifat <i>immutable</i></li>

In [15]:
var = {1, 'dua', 3.14, None}
type(var)

set

In [16]:
var = ({1, 'dua', 3.14, None}) # contoh frozen set atau set yang immutable
type(var)

set

<b>7. Mapping:</b> dapat digunakan untuk memetakan sebuah nilai ke nilai lainnya. Dalam Python, tipe data mapping disebut dengan istilah <b>dictionary</b>.

In [17]:
var = {'nama':'Maya', 'usia':'23'}
type(var)

dict

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Practice!</b>
    <div style="padding:25px">
        <table>
            <thead>
                <th>Nama Barang</th>
                <th>Harga</th>
                <th>Diskon</th>
            </thead>
            <tbody>
                <tr>
                    <td>Sepatu Niko</td>
                    <td>150000</td>
                    <td>30000</td>
                </tr>
                <tr>
                    <td>Baju Unikloh</td>
                    <td>80000</td>
                    <td>8000</td>
                </tr>
                <tr>
                    <td>Celana Lepis</td>
                    <td>200000</td>
                    <td>60000</td>
                </tr>
            </tbody>
        </table>
        <ol>
            <li>Deklarasikan data ke dalam dictionary</li>
            <li>Hitung harga masing-masing data setelah dikurangi diskon</li>
            <li>Hitung harga total</li>
            <li>Hitung harga kena pajak</li>
            <li>Cetak total_harga + total_pajak</li>
        </ol>
    </div>
</div>

In [18]:
# deklarasi data dalam bentuk dictionary
sepatu = {'nama':'Sepatu Niko', 'harga':150000, 'diskon':30000}
baju = {'nama':'Baju Unikloh', 'harga':80000, 'diskon':8000}
celana = {'nama':'Celana Lepis', 'harga':200000, 'diskon':60000}

# hitung harga setelah diskon
harga_sepatu = sepatu['harga'] - sepatu['diskon']
harga_baju = baju['harga'] - baju['diskon']
harga_celana = celana['harga'] - celana['diskon']

# hitung harga total
total_harga = harga_sepatu + harga_baju + harga_celana

# hitung harga kena pajak
total_pajak = total_harga * 0.1

# cetak hasil akhir harga
print(total_harga + total_pajak)

365200.0

<h2><a name="python-operators"></a>Chapter 3: Python Operators</h2>

<h3><a name="arithmetic-operators"></a>1. Arithmetic Operators</h3>

<p>Arithmetic Operators digunakan pada tipe data numerik, untuk melakukan <b>operasi matematika sederhana</b> yang terdiri atas:</p>

<table align="left">
    <thead>
        <th style="text-align:center">Simbol Operator</th>
        <th style="text-align:center">Keterangan</th>
        <th style="text-align:center">Contoh</th>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:center">+</td>
            <td><p>Penambahan</p></td>
            <td><p><b>3 + 2</b> output: 5</p></td>
        </tr>
        <tr>
            <td style="text-align:center">-</td>
            <td><p>Pengurangan</p></td>
            <td><p><b>3 - 2</b> output: 1</p></td>
        </tr>
        <tr>
            <td style="text-align:center">*</td>
            <td><p>Perkalian</p></td>
            <td><p><b>3 * 2</b> output: 6</p></td>
        </tr>
        <tr>
            <td style="text-align:center">/</td>
            <td><p>Pembagian</p></td>
            <td><p><b>3 / 2</b> output: 1.5</p></td>
        </tr>
        <tr>
            <td style="text-align:center">%</td>
            <td><p>Modulo atau sisa bagi</p></td>
            <td><p><b>3 % 2</b> output: 1</p><p>karena 3 tidak habis dibagi 2 dan menyisakan angka 1</p>
                <p><b>8 % 4</b> output: 0</p><p>karena 8 habis dibagi 4</p></td>
        </tr>
        <tr>
            <td style="text-align:center">**</td>
            <td><p>Pangkat</p></td>
            <td><p><b>3 ** 2</b> output: 9</p></td>
        </tr>
        <tr>
            <td style="text-align:center">//</td>
            <td><p>Pembagian dengan pembulatan kebawah</p></td>
            <td><p><b>3 // 2</b> output:1</p><p>karena 1.5 dibulatkan kebawah menjadi 1</td>
        </tr>
    </tbody>
</table>

<h3><a name="assignment-operators"></a>2. Assignment Operators</h3>

<p>Operator assignment digunakan untuk <b>mendeklarasikan nilai secara langsung</b> ke suatu variabel.</p>

<table align="left">
    <thead>
        <th style="text-align:center">Simbol Operator</th>
        <th style="text-align:center">Keterangan</th>
        <th style="text-align:center">Contoh</th>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:center">+=</td>
            <td><p>Penambahan</p></td>
            <td><p><b>x = 3</b></p>
                <p><b>x += 2</b> sama dengan <b>x = x + 2</b></p>
                <p>output: 5</p></td>
        </tr>
        <tr>
            <td style="text-align:center">-=</td>
            <td><p>Pengurangan</p></td>
            <td><p><b>x = 3</b></p>
                <p><b>x -= 2</b> sama dengan <b>x = x - 2</b></p>
                <p>output: 1</p></td>
        </tr>
        <tr>
            <td style="text-align:center">*=</td>
            <td><p>Perkalian</p></td>
            <td><p><b>x = 3</b></p>
                <p><b>x *= 2</b> sama dengan <b>x = x * 2</b></p>
                <p>output: 6</p></td>
        </tr>
        <tr>
            <td style="text-align:center">/=</td>
            <td><p>Pembagian</p></td>
            <td><p><b>x = 3</b></p>
                <p><b>x /= 2</b> sama dengan <b>x = x / 2</b></p>
                <p>output: 1.5</p></td>
        </tr>
        <tr>
            <td style="text-align:center">%=</td>
            <td><p>Modulo atau sisa bagi</p></td>
            <td><p><b>x = 3</b></p>
                <p><b>x %= 2</b> sama dengan <b>x = x % 2</b></p>
                <p>output: 1</p></td>
        </tr>
        <tr>
            <td style="text-align:center">**=</td>
            <td><p>Pangkat</p></td>
            <td><p><b>x = 3</b></p>
                <p><b>x **= 2</b> sama dengan <b>x = x ** 2</b></p>
                <p>output: 9</p></td>
        </tr>
        <tr>
            <td style="text-align:center">//=</td>
            <td><p>Pembagian dengan pembulatan kebawah</p></td>
            <td><p><b>x = 3</b></p>
                <p><b>x //= 2</b> sama dengan <b>x = x // 2</b></p>
                <p>output: 1</p></td>
        </tr>
    </tbody>
</table>

<h3><a name="comparison-operators"></a>3. Comparison Operators</h3>

<p>Operator comparison dapat digunakan untuk <b>membandingkan dua nilai</b>, berikut merupakan contoh-contoh operator komparasi.</p>

<table align="left">
    <thead>
        <th style="text-align:center">Simbol Operator</th>
        <th style="text-align:center">Keterangan</th>
        <th style="text-align:center">Contoh</th>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:center">==</td>
            <td><p>Persamaan</p></td>
            <td><p><b>33 == 33</b> output: <b>True</b></p>
                <p><b>34 == 33</b> output: <b>False</b></p></td>
        </tr>
        <tr>
            <td style="text-align:center">!=</td>
            <td><p>Pertidaksamaan</p></td>
            <td><p><b>33 != 33</b> output: <b>False</b></p>
                <p><b>34 != 33</b> output: <b>True</b></p></td>
        </tr>
        <tr>
            <td style="text-align:center">></td>
            <td><p>Lebih besar dari</p></td>
            <td><p><b>34 > 33</b> output: <b>True</b></p>
                <p><b>33 > 34</b> output: <b>False</b></p></td>
        </tr>
        <tr>
            <td style="text-align:center"><</td>
            <td><p>Lebih kecil dari</p></td>
            <td><p><b>34 < 33 </b> output: <b>False</b></p>
                <p><b>33 < 34 </b> output: <b>True</b></p></td>
        </tr>
        <tr>
            <td style="text-align:center">>=</td>
            <td><p>Lebih besar dari sama dengan</p></td>
            <td><p><b>33 >= 33</b> output: <b>True</b></p>
                <p><b>34 >= 33</b> output: <b>True</b></p>
                <p><b>33 >= 34</b> output: <b>False</b></p></td>
        </tr>
        <tr>
            <td style="text-align:center"><=</td>
            <td><p>Lebih kecil dari sama dengan</p></td>
            <td><p><b>33 <= 33</b> output: <b>True</b></p>
                <p><b>34 <= 33</b> output: <b>False</b></p>
                <p><b>33 <= 34</b> output: <b>True</b></p></td>
        </tr>
    </tbody>
</table>

<h3><a name="logical-operators"></a>4. Logical Operators</h3>

<p>Operator logical digunakan untuk <b>menggabungkan beberapa nilai</b> kebenaran atas suatu statemen logika.</p>

<table align="left">
    <thead>
        <th style="text-align:center">Simbol Operator</th>
        <th style="text-align:center">Keterangan</th>
        <th style="text-align:center">Contoh</th>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:center">and</td>
            <td><p>dan - menerima dua nilai kebenaran dan mengembalikan nilai benar jika <b>keduanya benar</b></p></td>
            <td><p><b>x = 5</b></p>
                <p><b>x >= 1  and x <= 10</b></p>
                <p>output: True</p></td>
        </tr>
        <tr>
            <td style="text-align:center">or</td>
            <td><p>atau - menerima dua nilai kebenaran dan mengembalikan nilai benar jika <b>salah satu benar</b></p></td>
            <td><p><b>x = 3</b></p>
                <p><b>x >=1 or x <=2 </b></p>
                <p>output: True</p></td>
        </tr>
        <tr>
            <td style="text-align:center">not</td>
            <td><p>negasi - menerima sebuah nilai kebenaran dan mengembalikan komplemennya</p></td>
            <td><p><b>x = 7</b></p>
                <p><b>not(x == 7)</b></p>
                <p>output: False</p></td>
        </tr>
    </tbody>
</table>

<h3><a name="identity-operators"></a>5. Identity Operators</h3>

<p>Operator identitas dapat digunakan untuk <b>membandingkan identitas</b> dari dua buah variabel.</p>

<table align="left">
    <thead>
        <th style="text-align:center">Simbol Operator</th>
        <th style="text-align:center">Keterangan</th>
        <th style="text-align:center">Contoh</th>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:center">is</td>
            <td><p>Menerima dua buah objek dan mengembalikan nilai True ketika keduanya merujuk pada <b>objek yang sama</b> dan False dalam kondisi lainnya</p></td>
            <td><p><b>x=['Ani', 'Budi']; y=['Ani', 'Budi']</b></p>
                <p><b>a = x</b></p>
                <p><b>print(a is x)</b>, output <b>True</b> karena a dan x merujuk pada objek yang sama.</p>
                <p><b>print(a is y)</b>, output <b>False</b> karena a dan y tidak merujuk pada objek yang sama meskipun isi datanya sama.</p></td>
        </tr>
        <tr>
            <td style="text-align:center">is not</td>
            <td><p>Menerima dua buah objek dan mengembalikan nilai True ketika keduanya merujuk pada <b>objek yang berbeda</b> dan False jika sama</b></p></td>
            <td><p><b>x=['Ani', 'Budi']; y=['Ani', 'Budi']</b></p>
                <p><b>a = x</b></p>
                <p><b>print(a is x)</b>, output <b>False</b> karena a dan x merujuk pada objek yang sama.</p>
                <p><b>print(a is y)</b>, output <b>True</b> karena a dan y tidak merujuk pada objek yang sama meskipun isi datanya sama.</p></td>
        </tr>
    </tbody>
</table>

Pada umumnya, operator identitas sering digunakan bersamaan dengan fungsi <code>type()</code>, fungsi type() menerima sebuah objek dan mengembalikan tipe data dari objek tersebut. Contoh penggunaan operator identitas dan fungsi type().

In [19]:
x = 10
print(type(x) is int)
print(type(x) is float)

True
False

<h3><a name="membership-operators"></a>6. Membership Operators</h3>

<p>Operator keanggotaan (membership) dapat digunakan untuk <b>memeriksa anggota dari sebuah tipe data sequence/set</b>, operator keanggotaan meliputi:</p>

<table align="left">
    <thead>
        <th style="text-align:center">Simbol Operator</th>
        <th style="text-align:center">Keterangan</th>
        <th style="text-align:center">Contoh</th>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:center">in</td>
            <td><p>Menerima sebuah sequence/set dan objek, mengembalikan True ketika objek <b>merupakan anggota</b> dari sequence/set, dan False ketika bukan.</p></td>
            <td><p><b>x=['Ani', 'Budi', 'Cici']</b></p>
                <p><b>y='Cici'</b></p>
                <p><b>z='Doni'</b></p>
                <p><b>print(y in x)</b>, output <b>True</b></p>
                <p><b>print(z in x)</b>, output <b>False</b></p></td>
        </tr>
        <tr>
            <td style="text-align:center">not in</td>
            <td><p>Menerima sebuah sequence/set dan objek, mengembalikan True ketika objek <b>bukan merupakan anggota</b> dari sequence/set, dan False ketika merupakan.</b></p></td>
            <td><p><b>x=['Ani', 'Budi', 'Cici']</b></p>
                <p><b>y='Cici'</b></p>
                <p><b>z='Doni'</b></p>
                <p><b>print(y not in x)</b>, output <b>False</b></p>
                <p><b>print(z not in x)</b>, output <b>True</b></p></td>
        </tr>
    </tbody>
</table>

<h3><a name="nilai-prioritas-operator"></a>Nilai Prioritas Operator</h3>

<p>Dalam bahasa pemrograman Python, tabel berikut mencakup nilai prioritas dan arah pengerjaan dari setiap operator.</p>

<table align="left">
    <thead>
        <th style="text-align:center">Operator</th>
        <th style="text-align:center">Nilai Prioritas</th>
        <th style="text-align:center">Arah Pengerjaan</th>
        <th style="text-align:center">Deskripsi</th>
    </thead>
    <tbody>
        <tr>
            <td><p>()</p></td>
            <td style="text-align:center">10</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Grouping</p></td>
        </tr>
        <tr>
            <td><p>x[index]</p></td>
            <td style="text-align:center">9</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Mengakses elemen array</p></td>
        </tr>
        <tr>
            <td><p>**</p></td>
            <td style="text-align:center">8</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Pangkat</p></td>
        </tr>
        <tr>
            <td><p>+x, -x</p></td>
            <td style="text-align:center">7</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Tanda bilangan positif dan negatif</p></td>
        </tr>
        <tr>
            <td><p>*, /, %</p></td>
            <td style="text-align:center">6</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Perkalian, Pembagian, Modulus</p></td>
        </tr>
        <tr>
            <td><p>+, -</p></td>
            <td style="text-align:center">5</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Penambahan, Pengurangan</p></td>
        </tr>
        <tr>
            <td><p>is, is not, in, not in</p><p><=, <, >=, ></p><p>==, !=</p></td>
            <td style="text-align:center">4</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Membership operator Comparison Operator</p></td>
        </tr>
        <tr>
            <td><p>not</p></td>
            <td style="text-align:center">3</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Operator logika negasi (not)</p></td>
        </tr>
        <tr>
            <td><p>and</p></td>
            <td style="text-align:center">2</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Operator logika konjungsi (and)</p></td>
        </tr>
        <tr>
            <td><p>or</p></td>
            <td style="text-align:center">1</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Operator logika disjungsi (or)</p></td>
        </tr>
    </tbody>
</table>

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Practice!</b>
    <div style="padding:25px">
        <p>Ringkas code berikut</p>
        <code>
            total_harga = harga_sepatu + harga_baju + harga_celana
            total_pajak = total_harga * 0.1</code>
    </div>
</div>

In [20]:
total_harga = (harga_sepatu + harga_baju + harga_celana) * 1.1
print(total_harga)

365200.00000000006

<h2><a name="python-conditioning-dan-looping"></a>Chapter 4: Python Conditioning dan Looping</h2>

<h3><a name="conditioning-for-decision"></a>Conditioning for Decision</h3>

Layaknya bahasa pemrograman lainnya, bahasa pemrograman Python menyediakan statemen desisi (decision statement) untuk berinteraksi dengan variabel bertipe boolean dan operator logika.

In [21]:
# Statement if
x = 4
if x % 2 == 0:
    print("x habis dibagi dua")       # statemen aksi lebih menjorok ke dalam

# Statement if ... elif ... else
x = 7
if x % 2 == 0:                        # jika sisa bagi x dengan 2 sama dengan 0
    print("x habis dibagi dua")
elif x % 3 == 0:                      # jika sisa bagi x dengan 3 sama dengan 0
    print("x habis dibagi tiga")
elif x % 5 == 0:                      # jika sisa bagi x dengan 5 sama dengan 0
    print("x habis dibagi lima")
else:
    print("x tidak habis dibagi dua, tiga ataupun lima")

x habis dibagi dua
x tidak habis dibagi dua, tiga ataupun lima

In [22]:
jam = 13
if jam >= 5 and jam < 12:             # selama jam di antara 5 s.d. 12
    print("Selamat pagi!")
elif jam >= 12 and jam < 17:          # selama jam di antara 12 s.d. 17
    print("Selamat siang!")
elif jam >= 17 and jam < 19:          # selama jam di antara 17 s.d. 19
    print("Selamat sore!")
else: # selain kondisi di atas
    print("Selamat malam!")

Selamat siang!

<h3><a name="primitive-loop-control"></a>Primitive Loop Control</h3>

Loop Control merupakan salah satu fitur yang mengizinkan penggunanya untuk melakukan serangkaian aksi, selama suatu kondisi yang telah ditetapkan bernilai benar. Dalam Python, terdapat dua bentuk primitif dari loop kontrol (struktur pengulangan), yaitu <b>while</b> dan <b>for</b>.

<li><b>While Loop</b>: akan terus menjalankan aksi di dalamnya, selama kondisi yang dituliskan di samping kanan statemen while terus terpenuhi.</li>

In [23]:
tagihan = [50000, 75000, 125000, 300000, 200000]

i = 0                                # penanda perulangan
jumlah_tagihan = len(tagihan)        # panjang (jumlah elemen dalam) list tagihan
total_tagihan = 0

while i < jumlah_tagihan:            # selama nilai i kurang dari jumlah_tagihan
    total_tagihan += tagihan[i]      # tambahkan tagihan[i] ke total_tagihan
    i += 1                           # tambahkan nilai i dengan 1 untuk memproses tagihan selanjutnya.

print(total_tagihan)

750000

Dalam sebuah struktur kontrol pengulangan, aku dapat menggunakan perintah <code>break</code> untuk <b>keluar</b> dari struktur pengulangan</b> dan perintah <code>continue</code> untuk <b>melanjutkan</b> proses pengulangan berikutnya.

In [24]:
tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]

i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0

while i < jumlah_tagihan:
    # jika terdapat tagihan ke-i yang bernilai minus (di bawah nol), pengulangan akan dihentikan
    if tagihan[i] < 0:
        total_tagihan = -1
        print("terdapat angka minus dalam tagihan, perhitungan dihentikan!")
        break
    total_tagihan += tagihan[i]
    i += 1

print(total_tagihan)

terdapat angka minus dalam tagihan, perhitungan dihentikan!
-1

In [25]:
tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]

i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0

while i < jumlah_tagihan:
    # jika terdapat tagihan ke-i yang bernilai minus (di bawah nol), abaikan tagihan ke-i dan lanjutkan ke tagihan berikutnya
    if tagihan[i] < 0:
        i += 1
        continue
    total_tagihan += tagihan[i]
    i += 1

print(total_tagihan)

750000

<li><b>For Loop</b></li>

In [26]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0

for tagihan in list_tagihan:          # untuk setiap tagihan dalam list_tagihan
    total_tagihan += tagihan          # tambahkan tagihan ke total_tagihan

print(total_tagihan)

550000

Serupa dengan struktur pengulangan while, for juga dapat memanfaatkan statement <code>break</code> dan <code>continue</code> di dalamnya.

In [27]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0

for tagihan in list_tagihan:
    if tagihan < 0:
        print("terdapat angka minus dalam tagihan, perhitungan dihentikan!")
        break
    total_tagihan += tagihan
    
print(total_tagihan)

terdapat angka minus dalam tagihan, perhitungan dihentikan!
125000

In [28]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0

for tagihan in list_tagihan:
    if tagihan < 0:
        tagihan = 0
        continue
    total_tagihan += tagihan
    
print(total_tagihan)

750000

pada perulangan di python juga terdapat <b>nested loops</b>, yaitu pengulangan bersarang. Dengan nested loops, aku dapat mengkombinasikan (menambahkan) struktur pengulangan lain di dalamnya.

In [29]:
list_daerah = ['Malang', 'Palembang', 'Medan']
list_buah = ['Apel', 'Duku', 'Jeruk']

for nama_daerah in list_daerah:           # lakukan perulangan sebanyak data pada list_daerah
    for nama_buah in list_buah:           # lakukan perulangan sebanyak data pada list_buah untuk setiap list_daerah
        print(nama_buah+" "+nama_daerah)

Apel Malang
Duku Malang
Jeruk Malang
Apel Palembang
Duku Palembang
Jeruk Palembang
Apel Medan
Duku Medan
Jeruk Medan

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Practice!</b>
    <div style="padding:25px">
        <p>Buat program untuk mengolah sebuah list yang bernama list_cash_flow yang berisikan data:</p>
        <code>2500000, 5000000, -1000000, -2500000, 5000000, 10000000, -5000000, 7500000, 10000000, -1500000, 25000000, -2500000</code>
        <p>Setiap elemen dari list_cash_flow berisikan pengeluaran (bilangan negatif) dan pemasukan (bilangan positif) pada perusahaan.</p>
        <p>Dari list_cash_flow tersebut, hitung total_pengeluaran dan total_pemasukan perusahaan.</p>
    </div>
</div>

In [30]:
list_cash_flow = [2500000, 5000000, -1000000, -2500000, 5000000, 10000000,
                  -5000000, 7500000, 10000000, -1500000, 25000000, -2500000]
total_pengeluaran, total_pemasukan = 0, 0

for dana in list_cash_flow:
    if dana > 0:
        total_pemasukan += dana       # jumlahkan dana yang bernilai positif sebagai pemasukan
    else:
        total_pengeluaran += dana     # jumlahkan dana yang bernilai negatif sebagai pengeluaran

total_pengeluaran *= -1               # kembalikan nilai pengeluaran sebagai nilai positif
print(total_pengeluaran) 
print(total_pemasukan)

12500000
65000000

<h2><a name="mini-quiz"></a>Chapter 5: Mini Quiz</h2>

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Ekspedisi Pamanku</b>
    <div style="padding:25px">
        <p>Aku menyambar ponsel di meja dan membuka pesan singkat dari paman tempo hari yang menjelaskan jika paman harus mengeluarkan uang sebesar <b>1,5 juta</b> per mobil dalam sehari. Tapi, beliau selalu kebingungan total pengeluaran per bulan karena adanya aturan ganjil-genap yang membuat pengoperasian mobil yang berbeda.<p>
        <p>Kalau begitu, aku akan masukkan variabel <b>jumlah_hari</b> berisi jumlah hari dalam sebulan dan variabel <b>list_plat_nomor</b> berisi seluruh nomor plat mobil milik paman,‚Äù gumamku sendiri. Kalau seperti ini paman hanya perlu mengganti variabel <b>jumlah_hari</b> atau modifikasi variabel <b>list_plat_nomor</b> untuk melacak total pengeluaran paman selama sebulan. Ide Cemerlang!</p>
    </div>
</div>

In [31]:
uang_jalan = 1500000
jumlah_hari = 31
list_plat_nomor = [8993, 2198, 2501, 2735, 3772, 4837, 9152]
kendaraan_genap, kendaraan_ganjil = 0, 0

# Pengecekan kendaraan dengan nomor pelat ganjil atau genap 
for plat_nomor in list_plat_nomor:
    if plat_nomor % 2 == 0:
        kendaraan_genap += 1
    else:
        kendaraan_ganjil += 1

# Total pengeluaran untuk kendaraan dengan nomor pelat ganjil dan genap dalam 1 bulan
i = 1
total_pengeluaran = 0
while i <= jumlah_hari:
    if i % 2 == 0:
        total_pengeluaran += (kendaraan_genap * uang_jalan)
    else:
        total_pengeluaran += (kendaraan_ganjil * uang_jalan)
    i += 1

print(total_pengeluaran)

163500000