# Python for Data Professional Beginner - Part 3

<p><b>About :</b> Memperkenalkan konsep dasar bahasa pemrograman Python sebagai bahasa pemrograman berorientasi objek, dikenal dengan Object Oriented Programming (OOP). Module ini akan menjelaskan syntax dan teknik penulisan kode program menggunakan OOP Python, skill yang wajib dimiliki seorang praktisi data.</p>

<p><b>Course :</b> <a href=https://academy.dqlab.id/main/package/practice/161?pf=0>Python for Data Professional Beginner - Part 3</a></p>

<h2>Module Content:</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="#pengantar-object-oriented-programming">Pengantar Object Oriented Programming</a></li>
        <ul>
            <li><a href="#"></a></li>
        </ul>
        <li><a href="#classes-and-objects">Classes and Objects</a></li>
        <ul>
            <li><a href="#"></a></li>
        </ul>
        <li><a href="#encapsulation-and-inheritance">Encapsulation and Inheritance</a></li>
        <ul>
            <li><a href="#"></a></li>
        </ul>
        <li><a href="#polymorphism-and-overloading">Polymorphism and Overloading</a></li>
        <ul>
            <li><a href="#"></a></li>
        </ul>
        <li><a href="#mini-quiz">Mini Quiz</a></li>
    </ul>
</div>

<h2><a name="pengantar-object-oriented-programming"></a>Chapter 1: Pengantar Object Oriented Programming</h2>

<h3><a name="apa-itu-collection-manipulation"></a>Apa itu Collection Manipulation?</h3>

<p>Collections manipulation adalah salah satu teknik yang penting untuk dikuasai setiap programmer. Melalui penguasaan materi collections  manipulation, kita dapat <b>mengolah berbagai tipe data</b> collections dalam Python yang meliputi: <b>list</b>, <b>tuple</b>, <b>set</b> dan <b>dictionary</b>.</p>

<li><b>Mengakses List dan Tuple</b></li>

<p>Index pada tipe data list dan tuple dimulai dari angka 0.</p>

<h3 style="color:green"><a name="dictionary-manipulation"></a>Useful Tips and Tricks</h3>

<p>Gunakan fungsi <b><code>len()</code></b> untuk mengetahui <b>jumlah data</b> yang terdapat pada list/tuple</p>

In [43]:
tuple_menu = ('Gado-gado','Ayam Goreng','Rendang','Ketoprak')
jumlah_menu = len(tuple_menu)
print("Jumlah data tuple_menu:", jumlah_menu)

list_menu = ['Gado-gado','Ayam Goreng','Rendang','Ketoprak']
jumlah_menu = len(list_menu)
print("Jumlah data list_menu:", jumlah_menu)

Jumlah data tuple_menu: 4
Jumlah data list_menu: 4

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Practice!</b>
    <div style="padding:25px">
        <li>Terdapat variable keuangan (format juta) yang berisi data:</li>
        <ol>
            <li>pengeluaran: 2, 2.5, 2.25, 2.5, 3.2, 2.5, 3.5, 4, 3</li>
            <li>pemasukan: 7.8, 7.5, 9, 7.6, 7.2, 7.5, 7, 10, 7.5</li>
        </ol>
        <li>Dari variabel keuangan, hitung rata-rata pengeluaran dan pemasukan selama 9 bulan terakhir. </li>
    </div>
</div>

<h2><a name="classes-and-objects"></a>Chapter 2: Classes and Objects</h2>

<h3><a name="apa-itu-string-manipulation"></a>Apa itu String Manipulation?</h3>

<p>String manipulation adalah teknik yang digunakan dalam memanipulasi data yang disimpan dalam <b>tipe data str</b>. Pada bahasa Python, untuk mempermudah proses pengolahan data, tipe data string dapat diperlakukan <i>layaknya seperti tipe data list</i>.</p>

<li><b><code>.upper()</code></b>: Mengubah <b>seluruh huruf</b> dalam teks (string) menjadi huruf <b>kapital</b>.</li>

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Practice!</b>
    <div style="padding:25px">
        <p>Terdapat variable judul_artikel yang berisikan data:</p>
<code>"Buah Salak Baik untuk Mata", "Buah Salak Kaya Potasium"</code>
        <li>Hitung jumlah kemunculan kata jeruk dan salak di tiap judul artikel,</li>
        <li>Deklarasikan daftar bernama kata_positif yang berisi nuansa kata positif seperti "Kaya", "Baik", "Mencegah" dan "Memperkuat" untuk menghitung jumlah kemunculan kata_positif bagi tiap artikel jeruk dan salak</li>
    </div>
</div>

<h2><a name="encapsulation-and-inheritance"></a>Chapter 3: Encapsulation and Inheritance</h2>

<p>Function adalah sebuah blok statemen yang hanya akan dijalankan saat ia dipanggil.</p>

<p>Fungsi <code>len()</code> untuk mengukur jumlah elemen dalam sebuah list dan fungsi <code>print()</code> untuk menampilkan pesan pada layar konsol merupakan contoh dari bentuk fungsi yang telah disediakan oleh bahasa pemrograman Python atau dengan kata lain <b><i>built-in functions</i></b>.</p>

<p>Selain fungsi yang telah disediakan oleh Python, Kita dapat mendeklarasikan fungsi dalam kode yang aku tuliskan yang dikenal dengan <b><i>user defined function</i></b>.</p>

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Practice!</b>
    <div style="padding:25px">
        <p>Hitung rata-rata dan standar deviasi dari data berikut</p>
        <table>
            <thead>
                <th>Luas Tanah (dalam m2)</th>
                <th>Luas Bangunan (dalam m2)</th>
                <th>Jarak ke Pusat Kota (dalam km)</th>
                <th>Harga (dalam ratus juta)</th>
            </thead>
            <tbody>
                <tr>
                    <td>70</td>
                    <td>50</td>
                    <td>15</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>70</td>
                    <td>60</td>
                    <td>30</td>
                    <td>400</td>
                </tr>
                <tr>
                    <td>70</td>
                    <td>60</td>
                    <td>55</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>50</td>
                    <td>30</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>70</td>
                    <td>25</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>70</td>
                    <td>50</td>
                    <td>650</td>
                </tr>
                <tr>
                    <td>120</td>
                    <td>100</td>
                    <td>20</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>120</td>
                    <td>80</td>
                    <td>50</td>
                    <td>1200</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>100</td>
                    <td>50</td>
                    <td>1800</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>90</td>
                    <td>15</td>
                    <td>3000</td>
                </tr>
            </tbody>
        </table>
        <li>Deklarasikan fungsi baru dengan nama variabel deksripsi_properti.</li>
        <li>Representasikan data ke dalam dict dengan nama tabel_properti.</li>
    </div>
</div>

<h2><a name="polymorphism-and-overloading"></a>Chapter 4: Polymorphism and Overloading</h2>

<h3><a name="manipulasi-berkas"></a>Manipulasi Berkas</h3>

Selain dapat membaca dan menampung isi dari sebuah berkas secara sekaligus menggunakan fungsi <code>read(),</code> aku juga dapat menggunakan fungsi <code>readline()</code> ataupun <code>readlines()</code> untuk membaca isi dari suatu berkas teks. Dengan menggunakan fungsi readline(), Python akan membaca konten dari sebuah berkas secara baris per baris, dimulai dari baris paling awal

<h2><a name="mini-quiz"></a>Chapter 5: Mini Quiz</h2>

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Harga Rumah di Tangerang</b>
    <div style="padding:25px">
        <p>Prediksi harga rumah di Tangerang berdasarkan data berikut yang tersimpan dalam file <code>harga_rumah.txt</code><p>
        <table>
            <thead>
                <th>Luas Tanah (dalam m2)</th>
                <th>Luas Bangunan (dalam m2)</th>
                <th>Jarak ke Pusat Kota (dalam km)</th>
                <th>Harga (dalam ratus juta)</th>
            </thead>
            <tbody>
                <tr>
                    <td>70</td>
                    <td>50</td>
                    <td>15</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>70</td>
                    <td>60</td>
                    <td>30</td>
                    <td>400</td>
                </tr>
                <tr>
                    <td>70</td>
                    <td>60</td>
                    <td>55</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>50</td>
                    <td>30</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>70</td>
                    <td>25</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>70</td>
                    <td>50</td>
                    <td>650</td>
                </tr>
                <tr>
                    <td>120</td>
                    <td>100</td>
                    <td>20</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>120</td>
                    <td>80</td>
                    <td>50</td>
                    <td>1200</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>100</td>
                    <td>50</td>
                    <td>1800</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>90</td>
                    <td>15</td>
                    <td>3000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>