# Modul DTS Professional Academy - Data Engineer

In [1]:
import pandas as pd
df_participant = pd.read_csv('./Resources/dqthon-participants.csv')

In [2]:
df = df_participant.copy()
df.head(3)

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09

## Postal Code

In [3]:
df['postal_code'] = df['address'].str.extract(r'(\d+)$')

## City

In [4]:
df['city'] = df['address'].str.extract(r'(?:\d+)\n+(\w+)')

## Github Profile

In [5]:
df['github_profile'] = 'https://github.com/' + df['first_name'].str.lower() + df['last_name'].str.lower()

## Nomor Handphone

In [6]:
#Masukkan regex anda pada parameter pertama dari fungsi replace
df['cleaned_phone_number'] = df['phone_number'].str.replace(r'^(\+62|62)', '0')
df['cleaned_phone_number'] = df['cleaned_phone_number'].str.replace(r'[()-]', '')
df['cleaned_phone_number'] = df['cleaned_phone_number'].str.replace(r'\s+', '')

<ipython-input-6-07e338940576>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['cleaned_phone_number'] = df['phone_number'].str.replace(r'^(\+62|62)', '0')
<ipython-input-6-07e338940576>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['cleaned_phone_number'] = df['cleaned_phone_number'].str.replace(r'[()-]', '')
<ipython-input-6-07e338940576>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['cleaned_phone_number'] = df['cleaned_phone_number'].str.replace(r'\s+', '')

## Nama Tim

In [7]:
def func(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) #Singkatan dari Nama Depan dan Nama Belakang dengan mengambil huruf pertama
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split())))) #Singkatan dari value di kolom institute
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df['team_name'] = df.apply(func, axis=1)

## Email

In [8]:
def func(col):
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split()))) #Singkatan dari nama perusahaan dalam lowercase

    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1: #Kondisi untuk mengecek apakah jumlah kata dari country lebih dari 1
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))
        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower,last_name_lower,institute,country)

    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)

df['email'] = df.apply(func, axis=1)

## Tanggal Lahir

In [9]:
df['birth_date'] = pd.to_datetime(df['birth_date'], format='%d %b %Y')

## Tanggal Daftar Kompetisi

In [10]:
df['register_at'] = pd.to_datetime(df['register_time'], unit='s')

In [11]:
df.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,cleaned_phone_number,team_name,email,register_at
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,1991-02-05,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,NaN,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,citranurdiyanti@upm.com,2021-04-05 14:46:40
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,1993-01-11,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,NaN,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,arissetiawan@ud.ac.ku,2021-04-05 14:46:40
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,1993-07-31,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,NaN,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,corneliahandayani@uhp.com,2021-04-05 14:46:40
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,1991-11-04,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,NaN,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,solehrajasa@pty.com,2021-04-05 14:46:40
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,2003-01-22,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,NaN,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR,viviastuti@phr.com,2021-04-05 14:46:40