# Python for Data Professional Beginner - Part 2

<p><b>About :</b> Memperkenalkan dasar bahasa pemograman Python, penjelasan mengenai syntax dan fungsi built-in yang perlu dikuasai untuk memanipulasi list, tuple, set, dictionary dan string pada Python. Serta, teknik membuat suatu fungsi yang didefinisikan sendiri tujuan penggunaannya dan dapat diakses untuk kebutuhan yang diinginkan nantinya.</p>

<p><b>Course :</b> <a href=https://academy.dqlab.id/main/package/practice/160?pf=0>Python for Data Professional Beginner - Part 2</a></p>

<h2>Module Content:</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="#collection-manipulation">Collection Manipulation dengan Python</a></li>
        <ul>
            <li><a href="#apa-itu-collection-manipulation">Apa itu Collection Manipulation?</a></li>
            <li><a href="#list-manipulation">List Manipulation</a></li>
            <li><a href="#tuple-manipulation">Tuple Manipulation</a></li>
            <li><a href="#set-manipulation">Set Manipulation</a></li>
            <li><a href="#dictionary-manipulation">Dictionary Manipulation</a></li>
        </ul>
        <li><a href="#string-manipulation">String Manipulation dengan Python</a></li>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <li><a href="#functions">Functions</a></li>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <li><a href="#manipulasi-teks">Manipulasi Berkas Teks dan Library Matematika pada Python</a></li>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <li><a href="#mini-quiz">Mini Quiz</a></li>
    </ul>
</div>

<h2><a name="collection-manipulation"></a>Chapter 1: Collection Manipulation dengan Python</h2>

<h3><a name="apa-itu-collection-manipulation"></a>Apa itu Collection Manipulation?</h3>

<p>Collections manipulation adalah salah satu teknik yang penting untuk dikuasai setiap programmer. Melalui penguasaan materi collections  manipulation, kita dapat <b>mengolah berbagai tipe data</b> collections dalam Python yang meliputi: <b>list</b>, <b>tuple</b>, <b>set</b> dan <b>dictionary</b>.</p>

<li><b>Mengakses List dan Tuple</b></li>

<p>Index pada tipe data list dan tuple dimulai dari angka 0.</p>

In [1]:
bulan_pembelian = ('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

# akses data dari urutan depan
print(bulan_pembelian[0])
print(bulan_pembelian[5])

# akses data dari urutan belakang
print(bulan_pembelian[-1])
print(bulan_pembelian[-2])

Januari
Juni
Desember
November

<li><b>Slicing List dan Tuple</b></li>

<p>Kita juga dapat memotong (<i>slicing</i>) list/tuple dengan menggunakan rentangan nilai indeks (<i>range of index</i>).</p>

In [9]:
bulan_pembelian = ('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

pertengahan_tahun = bulan_pembelian[4:8] # akses data dari indeks 4 sampai indeks 8-1 (data ke 8/ indeks 7)
print(pertengahan_tahun)

awal_tahun = bulan_pembelian[:5]         # akses data dari data pertama hingga indeks 5-1 (data ke 5/ indeks 4)
print(awal_tahun)

akhir_tahun = bulan_pembelian[8:]        # akses data dari indeks 8 hingga data terakhir
print(akhir_tahun)

print(bulan_pembelian[-4:-1])            # akses data ke 4 dari belakang hingga sebelum data terakhir

('Mei', 'Juni', 'Juli', 'Agustus')
('Januari', 'Februari', 'Maret', 'April', 'Mei')
('September', 'Oktober', 'November', 'Desember')
('September', 'Oktober', 'November')

<li><b>Menggabungkan List/Tuple</b></li>

<p>Menggabungkan isi dari suatu list (ataupun tuple) dengan list lainnya (dengan tuple lainnya) dengan menggunakan operator penambahan (+).</p>

In [10]:
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_minuman = ['Es Teh', 'Es Jeruk', 'Es Campur']
list_menu = list_makanan + list_minuman
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Es Teh', 'Es Jeruk', 'Es Campur']

<h3><a name="list-manipulation"></a>List Manipulation</h3>

<li><b><code>.append()</code></b>: Menambahkan data sebagai elemen terakhir di list.</li>

In [11]:
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_makanan.append('Ketoprak')
print(list_makanan)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']

<li><b><code>.clear()</code></b>: Menghapus seluruh elemen dalam sebuah list.</li>

In [12]:
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_makanan.clear()
print(list_makanan)

[]

<li><b><code>.copy()</code></b>: Mengembalikan copy dari setiap elemen dalam list.</li>

In [13]:
list_makanan1 = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_makanan2 = list_makanan1.copy()
list_makanan3 = list_makanan1
list_makanan2.append('Opor')                        # hanya menambahkan item 'Opor' pada list_makanan2
list_makanan3.append('Ketoprak')                    # list_makanan1 juga akan ditambahkan item 'Ketoprak'
print(list_makanan1)
print(list_makanan2)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Opor']

<li><b><code>.count()</code></b>: Mengembalikan jumlah kemunculan suatu elemen pada list.</li>

In [14]:
list_score = ['Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud']
score_budi = list_score.count('Budi')               # jumlah kemunculan 'Budi' pada list_score
score_sud = list_score.count('Sud')                 # jumlah kemunculan 'Sud' pada list_score
print(score_budi)
print(score_sud)

4
3

<li><b><code>.extend()</code></b>: Menggabungkan dua buah list seperti penggunaan operator + untuk list.</li>

In [15]:
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_minuman = ['Es Teh', 'Es Jeruk', 'Es Campur']
list_menu.extend(list_minuman)                      # menggabungkan list_menu dan list_minuman
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Es Teh', 'Es Jeruk', 'Es Campur']

<li><b><code>.index()</code></b>: Mengembalikan indeks dari elemen pertama yang ditemukan dari awal sebuah list.</li>

In [16]:
list_score = ['Budi','Sud','Budi','Budi','Budi','Sud','Sud']
score_pertama_sud = list_score.index('Sud') + 1     # indeks awal adalah 1 karena indeks dimulai dari angka 0
print(score_pertama_sud)                            # akan menampilkan output 2

2

<li><b><code>.insert()</code></b>: Menyisipkan elemen pada indeks yang dispesifikasikan.</li>

In [17]:
list_score = ['Budi','Sud','Budi','Budi','Sud']
list_score.insert(3, 'Sud')                         # menambahkan 'Sud' pada indeks ke 3
print(list_score)

['Budi', 'Sud', 'Budi', 'Sud', 'Budi', 'Sud']

<li><b><code>.pop()</code></b>: Menghilangkan elemen pada posisi tertentu.</li>

In [18]:
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_menu.pop(1)                                    # menghilangkan data pada indeks 1
print(list_menu)

['Gado-gado', 'Rendang']

<li><b><code>.remove()</code></b>: Menghilangkan elemen dengan nilai tertentu.</li>

In [19]:
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.remove('Rendang')                         # menghilangkan data 'Rendang'
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Ketoprak']

<li><b><code>.reverse()</code></b>: Membalik urutan elemen dari sebuah list.</li>

In [20]:
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.reverse()
print(list_menu)

['Ketoprak', 'Rendang', 'Ayam Goreng', 'Gado-gado']

<li><b><code>.sort()</code></b>: Mengurutkan elemen pada sebuah list, secara default dengan urutan dari <b>kecil ke besar</b> (<i>ascending</i>)</li>

In [ ]:
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.sort()                                    # Default: Ascending
print(list_menu) 
list_menu.sort(reverse=True)                        # Descending
print(list_menu)

<h3><a name="tuple-manipulation"></a>Tuple Manipulation</h3>

<p>Karena tuple bersifat <b><i>immutable</i></b> atau tidak dapat diubah setelah deklarasi, maka kita hanya dapat melakukan 2 proses manipulasi yaitu : <code>.count()</code> dan <code>.index()</code>.</p>

<li><b><code>.count()</code></b>: Mengembalikan jumlah kemunculan suatu elemen pada list.</li>

In [21]:
tuple_score = ('Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud')
score_budi = tuple_score.count('Budi')              # jumlah kemunculan 'Budi' pada tuple_score
score_sud = tuple_score.count('Sud')                # jumlah kemunculan 'Sud' pada tuple_score
print(score_budi)
print(score_sud)

4
3

<li><b><code>.index()</code></b>: Mengembalikan indeks dari elemen pertama yang ditemukan dari awal sebuah tuple.</li>

In [22]:
tuple_score = ('Budi','Sud','Budi','Budi','Budi','Sud','Sud')
score_pertama_sud = tuple_score.index('Sud') + 1    # indeks awal adalah 1 karena indeks dimulai dari angka 0
print(score_pertama_sud)                            # akan menampilkan output 2

2

<h3><a name="set-manipulation"></a>Set Manipulation</h3>

<p>Sedikit berbeda dengan tipe data list dan tuple, pada tipe data set terdapat cukup banyak fitur yang disediakan oleh bahasa Python.</p>

<li><b><code>.add()</code></b>: Menambahkan data ke dalam set. Penting untuk kita ingat bahwa pada tipe data set tidak mengizinkan adanya duplikasi elemen di dalamnya.</li>

In [23]:
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.add('Melon')
print(set_buah)

{'Jeruk', 'Melon', 'Apel', 'Anggur'}

<li><b><code>.clear()</code></b>: Menghapus seluruh elemen dalam sebuah set.</li>

In [24]:
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.clear()
print(set_buah)

set()

<li><b><code>.copy()</code></b>: Mengembalikan copy dari setiap elemen dalam set.</li>

In [26]:
set_buah1 = {'Jeruk','Apel','Anggur'}
set_buah2 = set_buah1.copy()
set_buah3 = set_buah1
set_buah2.add('Melon')                          # hanya menambahkan item 'Melon' pada set_buah2
set_buah3.add('Kiwi')                           # item 'Kiwi' akan ditambahkan pada set_buah3 dan set_buah1
print(set_buah1)
print(set_buah2)

{'Jeruk', 'Kiwi', 'Apel', 'Anggur'}
{'Jeruk', 'Melon', 'Apel', 'Anggur'}

<li><b><code>.update()</code></b>: Menambahkan elemen dari suatu set dengan set lainnya.</li>

In [27]:
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Apel','Kiwi','Melon'}
parcel1.update(parcel2)                        # set tidak menerima duplicate value, maka 'Apel' hanya akan muncul 1 kali
print(parcel1)

{'Apel', 'Jeruk', 'Anggur', 'Kiwi', 'Melon'}

<li><b><code>.pop()</code></b>: Menghilangkan elemen dari sebuah set secara acak..</li>

In [28]:
parcel = {'Anggur','Apel','Jeruk'}
buah = parcel.pop()
print(buah)
print(parcel)

Apel
{'Jeruk', 'Anggur'}

<li><b><code>.remove()</code></b>: Menghilangkan elemen dengan nilai tertentu.</li>

In [29]:
parcel = {'Anggur','Apel','Jeruk'}
parcel.remove('Apel')
print(parcel)

{'Jeruk', 'Anggur'}

<li><b><code>.union()</code></b>: Mengembalikan hasil penggabungan (union) dari dua buah set.</li>

In [30]:
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Apel','Kiwi','Melon'}
parcel3 = parcel1.union(parcel2)
print(parcel1)
print(parcel3)

{'Apel', 'Jeruk', 'Anggur'}
{'Apel', 'Jeruk', 'Anggur', 'Kiwi', 'Melon'}

<li><b><code>.isdisjoint()</code></b>: Mengembalikan nilai kebenaran apakah suatu set disjoint (saling lepas/<b>tidak mengandung elemen yang sama</b>) dengan set lainnya.</li>

In [31]:
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Kiwi','Melon','Pisang'}
parcel3 = {'Apel','Srikaya','Semangka'}
parcel1_parcel2_disjoint = parcel1.isdisjoint(parcel2)  # True, parcel1 tidak memiliki elemen yang sama dengan parcel2
print(parcel1_parcel2_disjoint)
parcel1_parcel3_disjoint = parcel1.isdisjoint(parcel3)  # False, terdapat item 'Apel' pada parcel1 dan parcel3
print(parcel1_parcel3_disjoint)

True
False

<li><b><code>.issubset()</code></b>: Mengembalikan nilai kebenaran apakah sebuah set merupakan subset dari set lainnya. Sebuah set A merupakan subset dari set B jika <b>seluruh elemen</b> dari set <b>A</b> merupakan <b>bagian</b> dari set <b>B</b>.</li>

In [32]:
parcel_A = {'Anggur', 'Apel'}
parcel_B = {'Durian','Semangka','Apel'}
parcel_C = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_A_dalam_C = parcel_A.issubset(parcel_C)          # True, seluruh elemen parcel_A adalah bagian dari parcel_C
parcel_B_dalam_C = parcel_B.issubset(parcel_C)          # False, 'Durian' dan 'Semangka' tidak ada pada parcel_C
print(parcel_A_dalam_C)
print(parcel_B_dalam_C)

True
False

<li><b><code>.issuperset()</code></b>: Mengembalikan nilai kebenaran apakah sebuah set merupakan superset dari set lainnya. Sebuah set A merupakan superset dari set B jika <b>seluruh elemen</b> dari set <b>B</b> terkandung dalam set <b>A</b>.</li>

In [33]:
parcel_C_mengandung_A = parcel_C.issuperset(parcel_A)   # True, terdapat elemen parcel_C pada seluruh elemen parcel_A
parcel_C_mengandung_B = parcel_C.issuperset(parcel_B)   # False, hanya 'Apel' yang terdapat pada parcel_B
print(parcel_C_mengandung_A)
print(parcel_C_mengandung_B)

True
False

<li><b><code>.intersection()</code></b>: Mengembalikan sebuah set yang merupakan intersection dari dua set lainnya.</li>

In [34]:
parcel_A = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_B = {'Apel', 'Jeruk', 'Semangka', 'Durian', 'Tomat'}
parcel_C = parcel_A.intersection(parcel_B)              # 'Apel' dan 'Jeruk' adalah elemen yang terdapat pada kedua set
print(parcel_C)

{'Jeruk', 'Apel'}

<li><b><code>.difference()</code></b>: Mengembalikan sebuah set yang berisikan difference dari dua set lainnya. Difference dari sebuah set A berdasarkan set B adalah setiap elemen yang <b>terdapat di set A</b> tetapi <b>tidak terdapat di set B</b>.</li>

In [35]:
parcel_C = parcel_A.difference(parcel_B)
print(parcel_C)

{'Kiwi', 'Melon', 'Anggur'}

<li><b><code>.symmetric_difference()</code></b>: Mengembalikan sebuah set yang berisikan symmetric difference dari dua set lainnya. Symmetric difference dari sebuah set A dan B adalah setiap elemen dari set A yang <b>tidak terdapat di set B</b> digabungkan dengan (<b>union</b>) setiap elemen dari set B yang <b>tidak terdapat di set A</b>.</li>

In [36]:
parcel_A = {'Anggur', 'Apel', 'Jeruk', 'Melon'}
parcel_B = {'Apel','Jeruk','Semangka','Leci'}
parcel_C = parcel_A.symmetric_difference(parcel_B)      # kebalikan dari intersection
print(parcel_C)

{'Anggur', 'Leci', 'Melon', 'Semangka'}

<h3><a name="dictionary-manipulation"></a>Dictionary Manipulation</h3>

<li><b><code>.clear()</code></b>: Menghapus seluruh elemen dalam sebuah dictionary.</li>

In [37]:
info_karyawan = {'nama' : 'Aksara',
                 'nik' : '1211011',
                 'pekerjaan' : 'Data Analyst'}
info_karyawan.clear()
print(info_karyawan)

{}

<li><b><code>.copy()</code></b>: Mengembalikan copy dari setiap elemen dalam set. Serupa dengan fitur copy() pada tipe data collections lainnya, fitur copy() <b>tidak akan mengubah nilai dari elemen asal</b> seperti fungsi assignment.</li>

In [38]:
info_karyawan1 = {'nama' : 'Aksara',
                  'nik' : '1211011',
                  'pekerjaan' : 'Data Analyst'}
info_karyawan2 = info_karyawan1.copy()
info_karyawan2['nama'] = 'Senja'
info_karyawan2['nik'] = '1211056'
print(info_karyawan1)
print(info_karyawan2)

{'nama': 'Aksara', 'nik': '1211011', 'pekerjaan': 'Data Analyst'}
{'nama': 'Senja', 'nik': '1211056', 'pekerjaan': 'Data Analyst'}

<li><b><code>.keys()</code></b>: Mengembalikan list dari seluruh kunci akses ("key") dari setiap elemen dalam sebuah dictionary.</li>

In [39]:
info_karyawan = {'nama' : 'Aksara',
                 'nik' : '1211011',
                 'pekerjaan' : 'Data Analyst'}
kunci_akses = list(info_karyawan.keys())
print(kunci_akses)

['nama', 'nik', 'pekerjaan']

<li><b><code>.values()</code></b>: Mengembalikan list dari seluruh nilai ("value") dari setiap elemen dalam sebuah dictionary.</li>

In [40]:
value_dict = list(info_karyawan.values())
print(value_dict)

['Aksara', '1211011', 'Data Analyst']

<li><b><code>.update()</code></b>: Menambahkan kunci akses ("key") dan nilai baru ("value") ke dalam sebuah dictionary.</li>

In [41]:
info_karyawan.update({'skillset':['Python', 'R']})
print(info_karyawan)

{'nama': 'Aksara', 'nik': '1211011', 'pekerjaan': 'Data Analyst', 'skillset': ['Python', 'R']}

<h3 style="color:green"><a name="dictionary-manipulation"></a>Useful Tips and Tricks</h3>

<p>Gunakan fungsi <b><code>len()</code></b> untuk mengetahui <b>jumlah data</b> yang terdapat pada list/tuple</p>

In [43]:
tuple_menu = ('Gado-gado','Ayam Goreng','Rendang','Ketoprak')
jumlah_menu = len(tuple_menu)
print("Jumlah data tuple_menu:", jumlah_menu)

list_menu = ['Gado-gado','Ayam Goreng','Rendang','Ketoprak']
jumlah_menu = len(list_menu)
print("Jumlah data list_menu:", jumlah_menu)

Jumlah data tuple_menu: 4
Jumlah data list_menu: 4

<p>Trik untuk mendapatkan seluruh <b>list element unik</b></p>

In [44]:
list_buah = ['Apel', 'Apel', 'Jeruk', 'Markisa', 'Jeruk', 'Markisa', 'Apel']
set_buah = set(list_buah)    # convert list menjadi set untuk mendapatkan element unik
print(set_buah)
list_buah = list(set_buah)   # convert kembali set kedalam bentuk list
list_buah.sort()
print(list_buah)

{'Apel', 'Markisa', 'Jeruk'}
['Apel', 'Jeruk', 'Markisa']

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Practice!</b>
    <div style="padding:25px">
        <li>Terdapat variable keuangan (format juta) yang berisi data:</li>
        <ol>
            <li>pengeluaran: 2, 2.5, 2.25, 2.5, 3.2, 2.5, 3.5, 4, 3</li>
            <li>pemasukan: 7.8, 7.5, 9, 7.6, 7.2, 7.5, 7, 10, 7.5</li>
        </ol>
        <li>Dari variabel keuangan, hitung rata-rata pengeluaran dan pemasukan selama 9 bulan terakhir. </li>
    </div>
</div>

In [49]:
# deklarasi variable
keuangan = {'pengeluaran': [2, 2.5, 2.25, 2.5, 3.2, 2.5, 3.5, 4, 3], 
            'pemasukan':[7.8, 7.5, 9, 7.6, 7.2, 7.5, 7, 10, 7.5]}

# rata-rata pengeluran dan pemasukan
total_pengeluaran, total_pemasukan = 0, 0

for biaya in keuangan['pengeluaran']:
    total_pengeluaran += biaya

for biaya in keuangan['pemasukan']:
    total_pemasukan += biaya

rata_rata_pengeluaran = total_pengeluaran / len(keuangan['pengeluaran'])
rata_rata_pemasukan = total_pemasukan / len(keuangan['pemasukan'])

# cetak hasil
print("Rata-rata pengeluaran:", rata_rata_pengeluaran)
print("Rata-rata pemasukan:", rata_rata_pemasukan)

Rata-rata pengeluaran: 2.8277777777777775
Rata-rata pemasukan: 7.8999999999999995

<h2><a name="string-manipulation"></a>Chapter 2: String Manipulation dengan Python</h2>

<h3><a name="aturan-penamaan-python-variable"></a>Aturan Penamaan Python Variable</h3>

<h3><a name="tipe-data-pada-python"></a>Tipe Data pada Python</h3>

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Practice!</b>
    <div style="padding:25px">
        <table>
            <thead>
                <th>Nama Barang</th>
                <th>Harga</th>
                <th>Diskon</th>
            </thead>
            <tbody>
                <tr>
                    <td>Sepatu Niko</td>
                    <td>150000</td>
                    <td>30000</td>
                </tr>
                <tr>
                    <td>Baju Unikloh</td>
                    <td>80000</td>
                    <td>8000</td>
                </tr>
                <tr>
                    <td>Celana Lepis</td>
                    <td>200000</td>
                    <td>60000</td>
                </tr>
            </tbody>
        </table>
        <ol>
            <li>Deklarasikan data ke dalam dictionary</li>
            <li>Hitung harga masing-masing data setelah dikurangi diskon</li>
            <li>Hitung harga total</li>
            <li>Hitung harga kena pajak</li>
            <li>Cetak total_harga + total_pajak</li>
        </ol>
    </div>
</div>

In [28]:
# deklarasi data dalam bentuk dictionary
sepatu = {'nama':'Sepatu Niko', 'harga':150000, 'diskon':30000}
baju = {'nama':'Baju Unikloh', 'harga':80000, 'diskon':8000}
celana = {'nama':'Celana Lepis', 'harga':200000, 'diskon':60000}

# hitung harga setelah diskon
harga_sepatu = sepatu['harga'] - sepatu['diskon']
harga_baju = baju['harga'] - baju['diskon']
harga_celana = celana['harga'] - celana['diskon']

# hitung harga total
total_harga = harga_sepatu + harga_baju + harga_celana

# hitung harga kena pajak
total_pajak = total_harga * 0.1

# cetak hasil akhir harga
print(total_harga + total_pajak)

365200.0

<h2><a name="functions"></a>Chapter 3: Functions</h2>

<h3><a name="nilai-prioritas-operator"></a>Nilai Prioritas Operator</h3>

<p>Dalam bahasa pemrograman Python, tabel berikut mencakup nilai prioritas dan arah pengerjaan dari setiap operator.</p>

<table align="left">
    <thead>
        <th style="text-align:center">Operator</th>
        <th style="text-align:center">Nilai Prioritas</th>
        <th style="text-align:center">Arah Pengerjaan</th>
        <th style="text-align:center">Deskripsi</th>
    </thead>
    <tbody>
        <tr>
            <td><p>()</p></td>
            <td style="text-align:center">10</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Grouping</p></td>
        </tr>
        <tr>
            <td><p>x[index]</p></td>
            <td style="text-align:center">9</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Mengakses elemen array</p></td>
        </tr>
        <tr>
            <td><p>**</p></td>
            <td style="text-align:center">8</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Pangkat</p></td>
        </tr>
        <tr>
            <td><p>+x, -x</p></td>
            <td style="text-align:center">7</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Tanda bilangan positif dan negatif</p></td>
        </tr>
        <tr>
            <td><p>*, /, %</p></td>
            <td style="text-align:center">6</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Perkalian, Pembagian, Modulus</p></td>
        </tr>
        <tr>
            <td><p>+, -</p></td>
            <td style="text-align:center">5</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Penambahan, Pengurangan</p></td>
        </tr>
        <tr>
            <td><p>is, is not, in, not in</p><p><=, <, >=, ></p><p>==, !=</p></td>
            <td style="text-align:center">4</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Membership operator Comparison Operator</p></td>
        </tr>
        <tr>
            <td><p>not</p></td>
            <td style="text-align:center">3</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Operator logika negasi (not)</p></td>
        </tr>
        <tr>
            <td><p>and</p></td>
            <td style="text-align:center">2</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Operator logika konjungsi (and)</p></td>
        </tr>
        <tr>
            <td><p>or</p></td>
            <td style="text-align:center">1</td>
            <td><p>Kiri ke kanan</p></td>
            <td><p>Operator logika disjungsi (or)</p></td>
        </tr>
    </tbody>
</table>

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Practice!</b>
    <div style="padding:25px">
        <p>Ringkas code berikut</p>
        <code>
            total_harga = harga_sepatu + harga_baju + harga_celana
            total_pajak = total_harga * 0.1</code>
    </div>
</div>

In [31]:
total_harga = (harga_sepatu + harga_baju + harga_celana) * 1.1
print(total_harga)

365200.00000000006

<h2><a name="manipulasi-teks"></a>Chapter 4: Manipulasi Berkas Teks dan Library Matematika pada Python</h2>

<h3><a name="conditioning-for-decision"></a>Conditioning for Decision</h3>

pada perulangan di python juga terdapat <b>nested loops</b>, yaitu pengulangan bersarang. Dengan nested loops, aku dapat mengkombinasikan (menambahkan) struktur pengulangan lain di dalamnya.

In [40]:
list_daerah = ['Malang', 'Palembang', 'Medan']
list_buah = ['Apel', 'Duku', 'Jeruk']

for nama_daerah in list_daerah:           # lakukan perulangan sebanyak data pada list_daerah
    for nama_buah in list_buah:           # lakukan perulangan sebanyak data pada list_buah untuk setiap list_daerah
        print(nama_buah+" "+nama_daerah)

Apel Malang
Duku Malang
Jeruk Malang
Apel Palembang
Duku Palembang
Jeruk Palembang
Apel Medan
Duku Medan
Jeruk Medan

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Practice!</b>
    <div style="padding:25px">
        <p>Buat program untuk mengolah sebuah list yang bernama list_cash_flow yang berisikan data:</p>
        <code>2500000, 5000000, -1000000, -2500000, 5000000, 10000000, -5000000, 7500000, 10000000, -1500000, 25000000, -2500000</code>
        <p>Setiap elemen dari list_cash_flow berisikan pengeluaran (bilangan negatif) dan pemasukan (bilangan positif) pada perusahaan.</p>
        <p>Dari list_cash_flow tersebut, hitung total_pengeluaran dan total_pemasukan perusahaan.</p>
    </div>
</div>

In [41]:
list_cash_flow = [2500000, 5000000, -1000000, -2500000, 5000000, 10000000,
                  -5000000, 7500000, 10000000, -1500000, 25000000, -2500000]
total_pengeluaran, total_pemasukan = 0, 0

for dana in list_cash_flow:
    if dana > 0:
        total_pemasukan += dana       # jumlahkan dana yang bernilai positif sebagai pemasukan
    else:
        total_pengeluaran += dana     # jumlahkan dana yang bernilai negatif sebagai pengeluaran

total_pengeluaran *= -1               # kembalikan nilai pengeluaran sebagai nilai positif
print(total_pengeluaran) 
print(total_pemasukan)

12500000
65000000

<h2><a name="mini-quiz"></a>Chapter 5: Mini Quiz</h2>

<div style="border: 2px solid orange;border-radius: 5px;">
    <b style="color:orange;padding:10px">Ekspedisi Pamanku</b>
    <div style="padding:25px">
        <p>Aku menyambar ponsel di meja dan membuka pesan singkat dari paman tempo hari yang menjelaskan jika paman harus mengeluarkan uang sebesar <b>1,5 juta</b> per mobil dalam sehari. Tapi, beliau selalu kebingungan total pengeluaran per bulan karena adanya aturan ganjil-genap yang membuat pengoperasian mobil yang berbeda.<p>
        <p>Kalau begitu, aku akan masukkan variabel <b>jumlah_hari</b> berisi jumlah hari dalam sebulan dan variabel <b>list_plat_nomor</b> berisi seluruh nomor plat mobil milik paman,” gumamku sendiri. Kalau seperti ini paman hanya perlu mengganti variabel <b>jumlah_hari</b> atau modifikasi variabel <b>list_plat_nomor</b> untuk melacak total pengeluaran paman selama sebulan. Ide Cemerlang!</p>
    </div>
</div>

In [42]:
uang_jalan = 1500000
jumlah_hari = 31
list_plat_nomor = [8993, 2198, 2501, 2735, 3772, 4837, 9152]
kendaraan_genap, kendaraan_ganjil = 0, 0

# Pengecekan kendaraan dengan nomor pelat ganjil atau genap 
for plat_nomor in list_plat_nomor:
    if plat_nomor % 2 == 0:
        kendaraan_genap += 1
    else:
        kendaraan_ganjil += 1

# Total pengeluaran untuk kendaraan dengan nomor pelat ganjil dan genap dalam 1 bulan
i = 1
total_pengeluaran = 0
while i <= jumlah_hari:
    if i % 2 == 0:
        total_pengeluaran += (kendaraan_genap * uang_jalan)
    else:
        total_pengeluaran += (kendaraan_ganjil * uang_jalan)
    i += 1

print(total_pengeluaran)

163500000